# Environment variables
.env
.env.*

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Node modules & large binary assets
node_modules/
baidunetdiskdownload/
scripts/eng.traineddata
*.mp4
_temp_*
*.pdf
baidunetdiskdownload/


# Book source files (not needed in build/deploy)
assets/books/*/book.pdf
assets/books/*/single/
assets/books/*/_ocr.json
assets/books/*/_tmp/
